
@mixin transition($property){
	-webkit-transition: $property;
		 -moz-transition: $property;
			 -o-transition: $property;
			 		transition: $property;
}

 .btn {
    display: inline-block;
    padding:10px;
    border-radius:5px;
    border: 1px solid #42699b;
    cursor:pointer;
    color:#42699b;
    text-decoration: none;
    @include transition(all 0.3s);
		font-size: 1em;
    @include transition('box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0.0,0.2,1)');
    &:hover {
        background-color: #42699b;
        color:#fff;
        text-decoration: none;
				box-shadow: 0px 3px 8px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 6px rgba(60, 64, 67, 0.149);
    }
 }
