
@mixin transition($property){
	-webkit-transition: $property;
		 -moz-transition: $property;
			 -o-transition: $property;
			 		transition: $property;
}

 .btn {
    display: inline-block;
    padding:10px;
    border-radius:5px;
    border: 1px solid #007bff;
    cursor:pointer;
    color:#007bff;
    text-decoration: none;
    @include transition(all 0.3s);
		font-size: 1em;
    &:hover {
        background-color: #007bff;
        color:#fff;
        text-decoration: none;
    }
 }
