$loginInputColor:'#f0e8e891';
.loginContainer{
    width:300px;  
    background-color: skyblue;
    padding:10px;  
}

.submit{
    margin-left: 20px;
    .link{
        display:inline;
        float:left;
        margin:10px;
    }
}

.inputField{
    margin : 30px;
    
    .input{
        width:70%;
    }

    input{
        height: 25px;
        border:1px solid lightgrey;
        padding-left: 10px;
    }
    
}