$loginInputColor:'#f0e8e891';

@mixin backgroundColor($color1 , $color2, $color3){
    background: $color1;
    background: -webkit-linear-gradient($color1 0%, $color2 72%, $color3 86%);
    background: -moz-linear-gradient($color1 0%, $color2 72%, $color3 86%);
    background: -o-linear-gradient($color1 0%, $color2 72%, $color3 86%);
    background: linear-gradient($color1 0%, $color2 72%, $color3 86%);
}

@mixin box-shadow($property){
  -webkit-box-shadow: $property;
     -moz-box-shadow: $property;
          box-shadow: $property;
}

@mixin border-radius($property){
  -webkit-border-radius: $property;
     -moz-border-radius: $property;
          border-radius: $property;
}

.login-container{
    width:400px;
    padding:30px 20px;
    margin:auto;
    @include backgroundColor(#ffffff,#e5e5e5,#e5e5e5);
    @include box-shadow(0px 4px 15px 6px rgba(28, 29, 30, 0.55));
    @include border-radius(5px);
}

.submit{
    text-align: center;
    .submit-btn {
      margin-bottom: 20px;
    }
}

.loginError{
    text-align: center;
    color:red;
    margin-bottom:10px;
}
