$loginInputColor:'#f0e8e891';

@mixin backgroundColor($color1 , $color2, $color3){
    background: $color1;
    background: -webkit-linear-gradient($color1 0%, $color2 72%, $color3 86%);
    background: -moz-linear-gradient($color1 0%, $color2 72%, $color3 86%);
    background: -o-linear-gradient($color1 0%, $color2 72%, $color3 86%);
    background: linear-gradient($color1 0%, $color2 72%, $color3 86%);
}
.loginContainer{
    width:500px; 
    padding:10px; 
    margin:auto;
    @include backgroundColor(#ffffff,#e5e5e5,#e5e5e5);

}

.submit{
    margin: 30px;
    display: flex;
    justify-content: center;
    
    .link{
        text-align: center;
        margin: 10px;
    }

}

.inputField{
    margin : 30px;
    display: flex;
    flex-direction: column;

    input{
        height: 40px;
        border:1px solid lightgrey;
        text-align: center;
        width: 100%;
    }

    div{
        margin-top: 10px
    }
    
}