@mixin display-flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin box-shadow($property){
  -webkit-box-shadow: $property;
     -moz-box-shadow: $property;
          box-shadow: $property;
}

.header-wrapper {
  padding: 15px 0;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 72%, #e5e5e5 86%);
  background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 72%,#e5e5e5 86%);
  background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 72%,#e5e5e5 86%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  @include box-shadow(0px 0px 8px 0px rgba(0,0,0,0.55));
  @include display-flex();
  align-items: center;
  height: 60px;

  .width-container {
    text-align: center;
    vertical-align: middle;
    position: relative;
  }

  .logo {
    width: 200px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    a {
      color: #42699b;
      font-size: 1em;
      text-decoration: none;
    }
  }

  .right-wrapper {
    float: right;
    a {
      margin-left: 30px;
      text-decoration: none;
    }
  }

}
