.read-story-wrapper {
  .editor-wrapper .ql-snow .ql-editor h2 {
    padding-bottom: 30px;
  }
  .editor-wrapper .ql-snow .ql-editor {
    padding: 0;
  }
}
.story-user-info {
  padding: 10px;
  background: #dbdbdb;
  margin-bottom: 20px;
}
