.read-story-wrapper {
  .editor-wrapper .ql-snow .ql-editor h2 {
    padding-bottom: 25px;
  }
  .editor-wrapper .ql-snow .ql-editor {
    padding: 0;
  }
}
.story-user-info {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #42699b;
  border-radius: 5px;
  -webkit-box-shadow: 5px 4px 14px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 4px 14px -4px rgba(0,0,0,0.5);
  box-shadow: 5px 4px 14px -4px rgba(0,0,0,0.5);
  .story-date {
    margin-top: 5px;
    font-size: 0.875em;
  }
}
