.read-story-wrapper {
  .editor-wrapper .ql-snow .ql-editor h2 {
    padding-bottom: 25px;
  }
  .editor-wrapper .ql-snow .ql-editor {
    padding: 0;
  }
}
.story-user-info {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  .story-date {
    margin-top: 5px;
    font-size: 0.875em;
  }
}
