.user-profile{
    width : 70%;
    margin: 5% 10% 0 10%;
    li{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-left:10%;
        span{
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 20%;
        }
        .input-value{
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 60%
        }
        i{
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 10%;
            position: relative;
            right:35px;
            padding:10px;
            border-left: 1px solid lightgray;
        }
        textarea{
            width:100%
        }

    }

}

.countryList{
   input{
       margin :0 0 5% 0;
       width: 80%;
   }

   i{
    border : solid;
    border-width: 0 3px 3px 0;
    display : inline-block;
    padding : 4px;
    margin-bottom: 2px;
    position: relative;
    right: 25px;
  }

   .down-arrow{
    margin-left: 5px;
    transform: rotate(45deg);
    -webkit-transform: (45deg);
  }

}
.submit{
    text-align: center; 
    .submit-btn {
      margin-bottom: 20px;
      display:flex;
      justify-content: center;
          a{
              margin-right:20px;
              padding-top:10px;
      }
    }
}