.user-profile{
    width : 100%;
    margin: 5% 10% 0 10%;
    li{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-left:10%;
        span{
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 20%;
        }
        .input-value{
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 30%
        }
        .icon{
            cursor: pointer;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 10%;
            position: relative;
            right:35px;
            padding:10px;
            border-left: 1px solid lightgray;
        }
        textarea{
            width:100%
        }

    }

}

.submit{
    text-align: center; 
    .submit-btn {
      margin-bottom: 20px;
      display:flex;
      justify-content: center;
          a{
              margin-right:20px;
              padding-top:10px;
      }
    }
}