.modal {
    display: flex;
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
}
.modal-content {
    background-color: #fefefe;
    margin:auto;
    width:80%;
    position: relative;
    border-radius: 4px;
    max-width: 600px;
    h2 {
      padding: 0;
    }
}
.modal-content__header, .modal-content__body, .modal-content__footer {
  padding: 20px;
}

.modal-content__header {
    text-align: center;
    font-size: 1.3125em;
}
.modal-content__body {
  text-align: left;
}
.modal-content__footer {
    display: flex;
    justify-content: flex-end;
}
.modal-content__header, .modal-content__body {
    border-bottom: 1px solid #ccc;
}

.close {
    color:#000;
    font-size: 30px;
    font-weight: bold;
    position:absolute;
    right: 10px;
    top: 5px;
    &:hover, &:focus, {
        color: #42699b;
        text-decoration: none;
        cursor: pointer;
        transition: 0.5s;
    }
}
