
$errorBorder : 2px solid red;
.input_wrapper{
    position:relative;
  .input{
    display: block;
    margin:10px 0 0 10px;
    width:30%;
    .input_valid{
      @extend .input;
    }
    &:focus &:hover{
      border: 2px solid purple
    }
  }  
  .input_error{
    @extend .input;
    border : $errorBorder;
  }
  .errorMessage{
    color:red;
  }
}

