
$errorBorder : 2px solid #be4b49;
.input_wrapper{
  padding: 10px 0 20px 0;
  .input{

    height: 40px;
    border:1px solid lightgrey;
    padding: 10px;
    width: 100%;

    .input_valid{
      @extend .input;
    }
    &:focus &:hover{
      border: 2px solid purple
    }
  }
  .input_error{
    @extend .input;
    border : $errorBorder;
  }
  .errorMessage{
    color:red;
  }

}
