*[class^='RichTextEditor_'], .quill, .container {
  font-family: "Roboto-Regular" !important;
}
.editor-wrapper {
  .ql-bubble .ql-editor, .ql-snow .ql-editor {
    padding: 15px;
    h1, h2, h3 {
      font-family: "Roboto-Bold" !important;
    }
    h1 {
      font-size: 1.75em;
    }
    h2 {
      font-size: 1.5em;
    }
  }
  .ql-editor p, .ql-editor ol, .ql-editor ul, .ql-editor pre, .ql-editor blockquote, .ql-editor.ql-blank::before  {
    font-family: "Roboto-Regular" !important;
    font-size: 1.1875em;
  }
  .ql-snow .ql-editor pre.ql-syntax {
    background-color: #2d2d2a;
  }
  .ql-container {
    font-size: 1em;
    font-family: "Roboto-Regular" !important;
  }
  .publish-wrapper {
    margin-top: 20px;
  }
  .ql-snow .ql-tooltip {
      background-color: #fff;
      border: 1px solid #ccc;
      box-shadow: 4px 5px 6px #ccc;
      color: #42699b;
      padding: 5px 12px;
  }
  .ql-snow .ql-tooltip input[type=text] {
    width: 225px;
    height: 40px;
    border:1px solid lightgrey;
    padding: 10px;
    font-size: 1em;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    &:focus {
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(24, 39, 50, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(24, 39, 50, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(24, 39, 50, 0.6);
    }
  }
  .ql-action {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #42699b;
    cursor: pointer;
    color: #42699b;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 1em;
    -webkit-transition: "box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0.0,0.2,1)";
    -moz-transition: "box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0.0,0.2,1)";
    -o-transition: "box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0.0,0.2,1)";
    transition: "box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0.0,0.2,1)";
    background: #ebebeb;
    margin-left: 10px;
  }
  .ql-snow .ql-tooltip a {
    line-height: 1em;
  }

  .ql-snow .ql-tooltip.ql-editing a.ql-action::after {
    margin: 0;
    padding: 0;
  }
  .ql-editor .ql-video {
    width: 480px;
    height: 250px;
}
}
